/* CSS RESET */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */

blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--main-bg-color: #f1f1f1;
	--secondary-bg-color: rgb(255, 255, 255);
	--third-bg-color: #c1c2c6;
	--main-color: #4050d1;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'Rubik';
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 7.5% 30% 52.5% 10%;
	grid-template-columns: 0.25fr 2.5fr 0.25fr;
}

.location {
	display: flex;
	align-items: center;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	font-weight: 500;
	font-size: 18px;
}

.location .country {
	font-weight: 400;
}

.location img {
	width: 12px;
	padding-right: 0.25em;
}

/** Today data **/
.today--weather {
	display: grid;
	padding: 1em 1em 0.5em 1em;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	grid-template-rows: 0.25fr 0.75fr 2fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.today--date {
	grid-row: 1 / 2;
	grid-column: 1 / 6;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}

.today--conditions {
	display: flex;
	grid-row: 2 / 3;
	grid-column: 1 / 7;
	margin-top: 0.25rem;
	align-items: center;
}

.today--icon {
	width: 50px;
}

.today--degrees {
	font-size: 3em;
}

.today--details {
	text-align: end;
	margin-left: auto;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
	font-size: 14px;
}

.today--hourly__conditions {
	display: grid;
	grid-row: 3 / 4;
	grid-column: 1 / 7;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 0.5em;
	font-size: 12px;
}

.hour--conditions {
	display: grid;
}

.hour {
	margin: 0 auto 0 auto;
	align-self: end;
}

.hour--image {
	width: 35px;
	margin: auto;
}

.hour--rain {
	display: flex;
	margin: auto;
}

.hour--rain__icon {
	padding-right: 0.2em;
}

.hour--degrees {
	font-size: 16px;
	font-weight: 500;
	margin: auto;
}

/** Today highlights data **/
.today--highlights {
	display: grid;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 0.5rem;
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 0.25em;
	grid-template-columns: 0.5fr 2fr 1fr;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.highlights {
	display: grid;
	grid-column: 1 / 4;
	grid-template-rows: 1fr;
	grid-template-columns: 0.5fr 2fr 1fr;
	align-items: center;
	padding-bottom: 0.25em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 14px;
}

.highlight--image__icon {
	height: 32px;
	justify-self: center;
}

.highlight--name {
	padding-left: 0.25em;
}

.highlight--value {
	justify-self: flex-end;
}

.highlights:last-child {
	border-bottom: none;
}

/** Daily data **/
.weekly--weather {
	display: none;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 0.5rem;
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 0.25em;
	grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.daily {
	display: grid;
	grid-column: 1 / 5;
	grid-template-rows: 1fr;
	grid-template-columns: 1.5fr 0.75fr 0.9fr 0.9fr;
	align-items: center;
	padding-bottom: 0.25em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.daily--image {
	width: 40px;
	grid-column: 3 / 4;
	justify-self: center;
}

.daily--rain {
	display: flex;
	grid-column: 2 / 3;
	font-size: 14px;
}

.daily--rain__icon {
	width: 10px;
	padding-right: 0.25em;
}

.daily--degrees {
	justify-self: flex-end;
}

.daily:last-child {
	border-bottom: none;
}

/** Navbar data **/
.main--navbar {
	display: grid;
	padding: 0 1em 0 1em;
	margin: 0.5rem 0 0.5rem 0;
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1.5fr;
	background-color: var(--secondary-bg-color);
	border-radius: 25px;
	font-size: 12px;
}

.main--navbar img {
	width: 20px;
	margin: auto;
	padding-bottom: 0.25em;
}

.today {
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	grid-column: 1 / 2;
	margin: auto;
	color: var(--main-color);
}

.weekly {
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	grid-column: 2 / 3;
	margin: auto;
}

.search {
	display: flex;
	flex-direction: column;
	grid-column: 3 / 4;
	margin: auto;
}

.switch {
	grid-column: 4 / 5;
	margin: auto;
}

.toggle-button {
	background: var(--third-bg-color);
	width: 60px;
	height: 20px;
	border-radius: 25px;
	padding: 5px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.toggle-button > .inner-circle {
	background: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}

.toggle-button.active {
	background: var(--main-color);
}

.toggle-button.active > .inner-circle {
	margin-left: 40px;
}

.toggle-button .fahrenheit {
	display: none;
}

.celsius {
	display: block;
	font-size: 20px;
	margin-left: 1.75em;
	color: white;
}

.toggle-button.active .celsius {
	display: none;
}

.toggle-button.active .fahrenheit {
	display: block;
	font-size: 20px;
	margin-left: -1.75em;
	color: white;
}

@media screen and (min-width: 374px) {
	/** Daily data **/
	.today--hourly__conditions {
		font-size: 14px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: end;
	}

	.hour--degrees {
		font-size: 18px;
	}

	/** Today highlights data **/
	.highlights {
		font-size: 18px;
	}

	.highlight--image__icon {
		height: 40px;
	}

	/** Weekly data **/
	.daily {
		font-size: 18px;
	}

	.daily--rain {
		font-size: 16px;
	}

	/** Navbar data **/
	.main--navbar {
		font-size: 14px;
	}

	.main--navbar img {
		width: 22px;
	}
}

@media screen and (min-height: 730px) {
	/** Location data **/
	.location {
		font-size: 20px;
	}

	.location img {
		width: 15px;
	}

	/** Daily data **/
	.today--date {
		align-self: center;
	}

	.today--weather {
		padding: 1em;
		grid-template-rows: 0.5fr 1.25fr 2fr;
	}

	.today--icon {
		width: 60px;
	}

	.today--degrees {
		font-size: 3.5em;
	}

	.today--details {
		font-size: 15px;
	}

	.today--hourly__conditions {
		font-size: 14px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: end;
	}

	.hour--degrees {
		font-size: 20px;
	}

	/** Today highlights data **/
	.highlights {
		font-size: 20px;
	}

	.highlight--image__icon {
		width: 45px;
	}

	.highlight--name {
		padding-left: 0.5em;
	}

	/** Weekly data **/
	.daily {
		font-size: 20px;
	}

	.daily--rain {
		font-size: 18px;
	}

	/** Navbar data **/
	.main--navbar {
		font-size: 16px;
	}

	.main--navbar img {
		width: 24px;
	}
}

@media screen and (min-height: 910px) {
	/** Location data **/
	.location {
		font-size: 24px;
	}

	.location img {
		width: 20px;
	}

	/** Daily data **/
	.today--date {
		align-self: center;
		font-size: 20px;
	}

	.today--weather {
		padding: 1em;
		grid-template-rows: 0.5fr 1.25fr 2fr;
	}

	.today--icon {
		width: 100px;
	}

	.today--degrees {
		padding-left: 0.1em;
		font-size: 5em;
	}

	.today--details {
		font-size: 20px;
	}

	.today--details h3 {
		padding-top: 0.15em;
	}

	.today--hourly__conditions {
		font-size: 20px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: end;
	}

	.hour--degrees {
		font-size: 26px;
	}

	.hour--image {
		width: 50px;
	}

	.hour--rain__icon {
		width: 15px;
	}

	/** Today highlights data **/
	.highlights {
		font-size: 24px;
	}

	.highlight--image__icon {
		width: 60px;
		height: 60px;
	}

	.highlight--value {
		padding-right: 0.5em;
	}

	/** Weekly data **/
	.daily {
		padding: 0 1em 0 1em;
		font-size: 26px;
	}

	.daily--rain {
		font-size: 22px;
	}

	.daily--image {
		width: 60px;
		justify-self: flex-end;
	}

	.daily--rain__icon {
		width: 15px;
	}

	/** Navbar data **/
	.main--navbar img {
		width: 35px;
	}

	.main--navbar h3 {
		font-size: 20px;
	}

	.toggle-button {
		width: 120px;
		height: 45px;
		border-radius: 50px;
	}

	.toggle-button > .inner-circle {
		width: 45px;
		height: 45px;
	}

	.toggle-button.active > .inner-circle {
		margin-left: 75px;
	}

	.toggle-button .celsius {
		font-size: 40px;
		margin-left: 1.65em;
		padding-top: 0.1em;
	}

	.toggle-button.active .fahrenheit {
		font-size: 40px;
		margin-left: -1.35em;
		padding-top: 0.1em;
	}
}
