/* CSS RESET */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */

blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--main-bg-color: #f1f1f1;
	--secondary-bg-color: rgb(255, 255, 255);
	--third-bg-color: #c1c2c6;
	--main-color: #4050d1;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'Rubik';
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 7.5% 15% 15% 52.5% 10%;
	grid-template-columns: 0.25fr 2.5fr 0.25fr;
}

.location {
	display: flex;
	align-items: center;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	font-weight: 500;
	font-size: 18px;
}

.location .country {
	font-weight: 400;
}

.location img {
	width: 12px;
	padding-right: 0.25em;
}

/** Today data **/
.today--weather {
	display: grid;
	padding: 1em 1em 0.5em 1em;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	grid-template-rows: 0.25fr 1.75fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--secondary-bg-color);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.today--weather.no--display {
	display: grid;
	background-color: var(--main-bg-color);
}

.today--date {
	grid-row: 1 / 2;
	grid-column: 1 / 6;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}

.today--conditions {
	display: flex;
	grid-row: 2 / 3;
	grid-column: 1 / 7;
	margin-top: 0.25rem;
	align-items: center;
}

.today--icon {
	width: 50px;
}

.today--degrees {
	font-size: 3em;
	padding-left: 5%;
}

.today--degrees sup {
	display: none;
}

.today--details {
	text-align: end;
	margin-left: auto;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
	font-size: 14px;
}

.today--hourly__conditions {
	display: grid;
	grid-row: 1 / 2;
	grid-column: 1 / 7;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 0.5em;
	font-size: 12px;
	grid-auto-rows: 0;
}

.hour--conditions:last-child {
	display: none;
}

.hourly--weather {
	display: grid;
	padding: 0 1em 0.5em 1em;
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--secondary-bg-color);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.hour--conditions {
	display: grid;
}

.hour {
	margin: 0 auto 0 auto;
	align-self: start;
}

.hour--image {
	width: 35px;
	margin: auto;
}

.hour--rain {
	display: flex;
	margin: auto;
}

.hour--rain__icon {
	padding-right: 0.2em;
}

.hour--degrees {
	font-size: 16px;
	font-weight: 500;
	margin: 0 auto 0 auto;
	align-self: end;
	padding-bottom: 10%;
}

.hour--weather__desktop {
	display: none;
}

.degrees img {
	display: none;
}

.rain img {
	display: none;
}

.main--search {
	display: none;
}

.main--city {
	display: none;
}

/** Today highlights data **/
.today--highlights {
	display: grid;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 0.5rem;
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 0.25em;
	grid-template-columns: 0.5fr 1.8fr 1.2fr;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.highlights {
	display: grid;
	grid-column: 1 / 4;
	grid-template-rows: 1fr;
	grid-template-columns: 0.5fr 1.5fr 1.2fr;
	align-items: center;
	padding-bottom: 0.25em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 14px;
}

.highlight--image__icon {
	height: 32px;
	justify-self: center;
}

.highlight--name {
	padding-left: 0.25em;
}

.highlight--value {
	justify-self: flex-end;
}

.highlights:last-child {
	border-bottom: none;
}

.main--highlights {
	display: none;
}

.progress {
	display: none;
}

.numbers {
	display: none;
}

.wind--direction {
	display: none;
}

.highlight--value__windstatus {
	display: block;
	justify-self: flex-end;
}

.highlight--value__windstatus sub {
	display: inline;
	font-size: 1em;
}

.sunrise__sunset {
	display: none;
}

.highlight--name span {
	display: none;
}

.highlight--mobile__value__sunrise,
.highlight--mobile__value__sunset,
.highlight--value__uv__index {
	justify-self: flex-end;
}

.highlight--description {
	display: none;
}

/** Daily data **/
.weekly--weather {
	display: none;
	padding: 0.5em 1em 0.5em 1em;
	margin-top: 0.5rem;
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 0.25em;
	grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
}

.weekly--weather.active {
	display: grid;
}

.weekly--weather.active.no--display {
	display: none;
}

.desktop--weekly__weather {
	display: none;
}

.desktop--weekly__weather.no--display {
	display: none;
}

.daily {
	display: grid;
	grid-column: 1 / 5;
	grid-template-rows: 1fr;
	grid-template-columns: 1.5fr 0.1fr 0.7fr 0.9fr;
	align-items: center;
	padding-bottom: 0.25em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.daily--image {
	width: 40px;
	grid-column: 3 / 4;
	justify-self: start;
}

.daily--degrees {
	justify-self: flex-end;
}

.daily:last-child {
	border-bottom: none;
}

/** Navbar data **/
.main--navbar {
	display: grid;
	padding: 0 1em 0 1em;
	margin: 0.5rem 0 0.5rem 0;
	grid-row: 5 / 6;
	grid-column: 2 / 3;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1.5fr;
	background-color: var(--secondary-bg-color);
	border-radius: 25px;
	font-size: 12px;
}

.main--search__btn,
.mobile--search__btn {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 25px;
	width: 30px;
	height: 30px;
	background: var(--secondary-bg-color);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
	border-radius: 24px;
}

.nav--search__name {
	border: none;
	width: 60%;
	background-color: transparent;
	font-size: 14px;
	font-family: 'Rubik';
}

.nav--search__name:focus {
	outline-color: var(--main-color);
	color: var(--main-color);
	font-weight: 400;
}

.main--navbar img {
	width: 20px;
	margin: auto;
}

.today {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	flex-direction: column;
	grid-column: 1 / 2;
	margin: auto;
}

.today.active {
	color: var(--main-color);
}

.today.active--grid {
	display: grid;
}

.today.active--grid.no--display {
	display: none;
}

.today.active img {
	filter: invert(32%) sepia(43%) saturate(2956%) hue-rotate(221deg) brightness(83%) contrast(97%);
}

.weekly {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	flex-direction: column;
	grid-column: 2 / 3;
	margin: auto;
}

.weekly.active {
	color: var(--main-color);
}

.weekly.active--grid {
	display: grid;
}

.weekly.active--grid.no--display {
	display: none;
}

.weekly.active img {
	filter: invert(32%) sepia(43%) saturate(2956%) hue-rotate(221deg) brightness(83%) contrast(97%);
}

.mobile--search {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	flex-direction: column;
	grid-column: 3 / 4;
	margin: auto;
}

.mobile--search.active {
	display: grid;
}

.search {
	display: none;
	grid-column: 1 / 4;
	align-items: center;
	justify-content: center;
	grid-row: 1 / 2;
	align-self: center;
	height: 30px;
	background: var(--main-bg-color);
	border-radius: 25px;
}

.search.active {
	display: flex;
}

.switch {
	grid-column: 4 / 5;
	margin: auto;
}

.toggle-button {
	background: var(--third-bg-color);
	width: 60px;
	height: 20px;
	border-radius: 25px;
	padding: 5px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.toggle-button > .inner-circle {
	background: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}

.toggle-button.active {
	background: var(--main-color);
}

.toggle-button.active > .inner-circle {
	margin-left: 40px;
}

.toggle-button .fahrenheit {
	display: none;
}

.celsius {
	display: block;
	font-size: 20px;
	margin-left: 1.75em;
	color: white;
}

.toggle-button.active .celsius {
	display: none;
}

.toggle-button.active .fahrenheit {
	display: block;
	font-size: 20px;
	margin-left: -1.75em;
	color: white;
}

.search--city {
	display: flex;
	flex-direction: column;
	position: relative;
	grid-row: 4/5;
	grid-column: 2/3;
	justify-content: end;
}

.search--city img {
	width: 50px;
	filter: invert(32%) sepia(43%) saturate(2956%) hue-rotate(221deg) brightness(83%) contrast(97%);
	transform: rotate(180deg);
	margin-left: 25px;
}

.search--city h2 {
	color: var(--main-color);
	position: relative;
	font-family: 'Rubik';
	font-size: 20px;
	font-weight: 400;
	justify-self: end;
	align-self: flex-start;
	margin: 0 0 10px 10px;
}

.search--city h3 {
	color: var(--main-color);
	position: relative;
	font-family: 'Rubik';
	font-size: 20px;
	font-weight: 400;
	align-self: center;
	margin-bottom: auto;
}

.no--display {
	display: none;
}

@media screen and (min-width: 374px) {
	/** Daily data **/
	.today--hourly__conditions {
		font-size: 14px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: start;
	}

	.hour--degrees {
		font-size: 18px;
	}

	/** Today highlights data **/
	.highlights:first-child {
		grid-template-columns: 0.5fr 1.4fr 1.6fr;
	}

	.highlights {
		font-size: 18px;
	}

	.highlight--image__icon {
		height: 35px;
		max-width: 35px;
	}

	/** Weekly data **/
	.daily {
		font-size: 18px;
	}

	/** Navbar data **/
	.main--navbar {
		font-size: 14px;
	}

	.main--navbar img {
		width: 22px;
	}

	.nav--search__name {
		width: 65%;
		font-size: 16px;
	}
}

@media screen and (min-height: 730px) {
	/** Location data **/
	.location {
		font-size: 20px;
	}

	.location img {
		width: 15px;
	}

	/** Daily data **/
	.today--date {
		align-self: center;
	}

	.today--weather {
		padding: 1em 1em 0 1em;
		grid-template-rows: 0.5fr 1.75fr;
	}

	.today--icon {
		width: 60px;
	}

	.today--degrees {
		font-size: 3.5em;
	}

	.today--details {
		font-size: 15px;
	}

	.today--hourly__conditions {
		font-size: 14px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: start;
		padding-top: 30%;
	}

	.hour--degrees {
		font-size: 20px;
		align-self: end;
		padding-bottom: 10%;
	}

	/** Today highlights data **/

	.highlights {
		font-size: 20px;
	}

	.highlights:last-child {
		grid-template-columns: 0.5fr 4fr 1.4fr;
	}

	.highlight--image__icon {
		height: 40px;
		width: 45px;
	}

	.highlight--name {
		padding-left: 0.5em;
	}

	/** Weekly data **/
	.daily {
		font-size: 20px;
	}

	/** Navbar data **/
	.main--navbar {
		font-size: 16px;
	}

	.main--navbar img {
		width: 24px;
	}

	.search {
		height: 40px;
	}

	.nav--search__name {
		width: 65%;
		font-size: 18px;
	}

	.main--search__btn {
		margin-right: 0.2em;
	}
}

@media screen and (min-height: 920px) {
	/** Location data **/
	.location {
		font-size: 24px;
	}

	.today--highlights {
		grid-template-rows: auto;
	}

	.location img {
		width: 20px;
	}

	/** Daily data **/
	.today--date {
		padding-left: 1em;
		align-self: center;
		font-size: 24px;
	}

	.today--conditions {
		padding: 0 1.4em 0 1.4em;
	}

	.today--weather {
		padding: 1em 1em 0 1em;
		/* grid-template-rows: 0.5fr 1.25fr 2fr; */
	}

	.today--icon {
		width: 150px;
	}

	.today--degrees {
		padding-left: 0.1em;
		font-size: 7.5em;
	}

	.today--details {
		font-size: 26px;
	}

	.today--details h3 {
		padding-top: 0.15em;
	}

	.today--hourly__conditions {
		font-size: 24px;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: end;
	}

	.hour--degrees {
		font-size: 26px;
	}

	.hour--image {
		width: 75px;
	}

	.hour--rain__icon {
		width: 15px;
	}

	/** Today highlights data **/
	.highlights {
		font-size: 30px;
	}

	.highlights:first-child {
		grid-template-columns: 1fr;
	}

	.highlights:last-child {
		grid-template-columns: 0.5fr 1.8fr 1.2fr;
	}

	.highlight--image__icon {
		width: 60px;
		height: 60px;
	}

	.highlight--value {
		padding-right: 0.5em;
	}

	/** Weekly data **/
	.daily {
		padding: 0 1em 0 1em;
		font-size: 26px;
	}

	.daily--image {
		width: 60px;
		justify-self: flex-end;
	}

	/** Navbar data **/
	.main--navbar img {
		width: 35px;
	}

	.main--navbar h3 {
		font-size: 20px;
	}

	.toggle-button {
		width: 120px;
		height: 45px;
		border-radius: 50px;
	}

	.toggle-button > .inner-circle {
		width: 45px;
		height: 45px;
	}

	.toggle-button.active > .inner-circle {
		margin-left: 75px;
	}

	.toggle-button .celsius {
		font-size: 40px;
		margin-left: 1.65em;
		padding-top: 0.1em;
	}

	.toggle-button.active .fahrenheit {
		font-size: 40px;
		margin-left: -1.35em;
		padding-top: 0.1em;
	}

	.main--search__btn {
		width: 50px;
		height: 50px;
	}

	.nav--search__name {
		border: none;
		width: 70%;
		background-color: transparent;
		font-size: 22px;
		font-family: 'Rubik';
	}

	.nav--search__name:focus {
		outline-color: var(--main-color);
		color: var(--main-color);
		font-weight: 400;
	}

	.search {
		height: 55px;
		background: var(--main-bg-color);
		border-radius: 25px;
	}

	.main--search__btn span {
		font-size: 1.75em;
	}

	.hour {
		margin: 0 auto 0 auto;
		align-self: start;
		padding-top: 10%;
	}
}

@media screen and (min-width: 1450px) {
	body {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.wrapper {
		width: 1449px;
		height: 900px;
		display: grid;
		grid-template-rows: 15% 15% 15% 25% 2.5% 25% 2.5%;
		grid-template-columns: 0.5fr 1.5fr;
		background: #f1f1f1;
		box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
		border-radius: 60px;
	}

	.location {
		display: none;
	}

	/** Today weather */
	.today--weather {
		display: grid;
		grid-template-rows: 7.5% 7.5% 65% 20%;
		grid-template-columns: 1fr;
		grid-row: 1 / 8;
		grid-column: 1 / 2;
		padding: 3em;
		background-color: var(--secondary-bg-color);
		border-radius: 60px 0px 0px 60px;
	}

	.today--date {
		grid-row: 1 / 2;
	}

	.today--date span {
		font-weight: 500;
	}

	.today--conditions {
		display: grid;
		grid-row: 3 / 4;
		grid-template-rows: 50% 20% 30%;
		grid-template-columns: 1fr;
	}

	.today--icon {
		grid-row: 1 / 2;
		width: 250px;
		justify-self: center;
	}

	.today--degrees {
		grid-row: 2 / 3;
		font-size: 6em;
		font-weight: 400;
	}

	.today--degrees sup {
		display: inline;
		font-size: 3.2rem;
	}

	.today--details {
		display: grid;
		text-align: start;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		row-gap: 0.5em;
		padding-top: 1em;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		align-items: center;
		margin: 0;
		grid-row: 3 / 6;
		font-weight: 400;
		font-size: 24px;
	}

	.today--details h3 {
		padding-top: 0;
	}

	.conditions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-row: 1 / 2;
		grid-column: 1 / 3;
	}

	.degrees {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}

	.degrees img {
		display: block;
		height: 30px;
		padding-left: 0.5em;
	}

	.rain {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-row: 3 / 4;
		grid-column: 1 / 3;
	}

	.rain img {
		display: block;
		padding-left: 0.5em;
	}

	.hour--weather__desktop {
		display: block;
		height: 25px;
		padding-right: 0.5em;
	}

	.main--search {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		grid-row: 2 / 3;
		align-self: center;
		width: 290px;
		height: 40px;
		background: var(--main-bg-color);
		border-radius: 10px;
	}

	.main--search .nav--search__icon {
		width: 20px;
		height: 20px;
	}

	.main--search__btn {
		background: none;
		border: 0;
		cursor: pointer;
		font-size: 25px;
		width: 30px;
		height: 30px;
		background: var(--secondary-bg-color);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
		border-radius: 24px;
	}

	.main--search__btn span {
		font-size: 1em;
	}

	.nav--search__name {
		border: none;
		width: 70%;
		background-color: transparent;
		font-size: 18px;
		font-family: 'Rubik';
	}

	.nav--search__name:focus {
		outline-color: var(--main-color);
		color: var(--main-color);
		font-weight: 400;
	}

	.main--city {
		display: flex;
		position: relative;
		grid-row: 4 / 5;
		margin: auto;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 1);
		width: 100%;
		height: 75%;
		border-radius: 25px;
	}

	.main--city__img {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		opacity: 0.6;
		object-fit: cover;
	}

	.main--city__name {
		position: absolute;
		color: #fff;
		font-size: 30px;
	}

	/** Hourly weather */
	.hourly--weather {
		display: grid;
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		padding: 0 5rem 0 5rem;
		background-color: var(--main-bg-color);
		border-radius: 0px 60px 0px 0px;
	}

	.today--hourly__conditions {
		display: grid;
		grid-row: 1 / 2;
		grid-column: 1 / 8;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		column-gap: 1em;
		font-size: 12px;
		border-radius: 10px;
	}

	.hour--conditions:last-child {
		display: grid;
	}

	.hour--conditions {
		background-color: var(--secondary-bg-color);
		border-radius: 10px;
		padding: 0.5em 0 0.5em 0;
		font-size: 18px;
	}

	.hour--image {
		width: 40%;
	}

	.hour--rain {
		display: none;
	}

	.hour {
		padding: 0;
	}

	.hour--degrees {
		padding: 0;
	}

	/** Weekly weather */
	.weekly--weather.active {
		display: none;
	}

	.desktop--weekly__weather {
		display: none;
	}

	.desktop--weekly__weather.active {
		display: grid;
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		padding: 0 5rem 0 5rem;
		background-color: var(--main-bg-color);
		border-radius: 0px 60px 0px 0px;
	}

	.desktop--weekly__weather.no--display {
		display: none;
	}

	.desktop--weekly__conditions {
		display: grid;
		grid-row: 1 / 2;
		grid-column: 1 / 8;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		column-gap: 1em;
		font-size: 12px;
		border-radius: 10px;
	}

	.weekly__conditions {
		display: grid;
		background-color: var(--secondary-bg-color);
		border-radius: 10px;
		grid-template-rows: 0.5fr 2fr 0.5fr;
		padding: 0.5em 0 0.5em 0;
		font-size: 18px;
	}

	.desktop--weekly__image {
		width: 40%;
		margin: auto;
	}

	.desktop--weekly {
		margin: auto;
	}

	.weekly--rain {
		display: none;
	}

	.desktop--weekly__degrees {
		margin: auto;
		font-size: 26px;
		font-weight: 400;
	}

	/** Navbar */
	.main--navbar {
		grid-row: 1 / 2;
		background-color: var(--main-bg-color);
		grid-template-rows: 1fr;
		padding: 0 5rem 0 5rem;
		grid-template-columns: 15% 15% 70%;
		border-top-right-radius: 100px;
	}

	.main--navbar h3 {
		font-family: 'Rubik';
		font-size: 24px;
	}

	.search {
		display: none;
	}

	.today {
		display: flex;
		grid-column: 1 / 2;
		margin: 0;
		justify-content: center;
		color: rgba(0, 0, 0, 0.5);
	}

	.nav--today__name {
		font-size: 55px;
	}

	.today img {
		display: none;
	}

	.today.active {
		color: black;
		text-decoration: underline;
		text-underline-position: under;
	}

	.today.active--grid {
		display: flex;
	}

	.weekly {
		display: flex;
		grid-column: 2 / 3;
		margin: 0;
		justify-content: center;
		color: rgba(0, 0, 0, 0.5);
	}

	.weekly img {
		display: none;
	}

	.weekly.active {
		color: black;
		text-decoration: underline;
		text-underline-position: under;
	}

	.weekly.active--grid {
		display: flex;
	}

	.switch {
		display: grid;
		grid-column: 3 / 4;
		margin: auto 0;
		justify-content: end;
	}

	.toggle-button {
		background: var(--secondary-bg-color);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		cursor: pointer;
		transition: all 300ms ease-in-out;
	}

	.toggle-button > .inner-circle {
		background: transparent;
	}

	.toggle-button.active {
		background: var(--main-color);
	}

	.toggle-button.active > .inner-circle {
		margin-left: 0px;
	}

	.toggle-button .fahrenheit {
		display: none;
	}

	.celsius {
		display: block;
		font-size: 30px;
		margin-left: 0;
		color: var(--main-color);
	}

	.toggle-button .celsius {
		font-size: 30px;
		margin: 0.1em 0 0 0.2em;
	}

	.toggle-button.active .celsius {
		display: none;
	}

	.toggle-button.active .fahrenheit {
		display: block;
		font-size: 30px;
		margin: 0.1em 0 0 0.2em;
		color: white;
	}

	/** Today Highlights */
	.main--highlights {
		display: grid;
		grid-row: 3 / 4;
		grid-column: 2 / 3;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		padding: 0 5rem 0 5rem;
		border-bottom: none;
		align-items: center;
		font-size: 24px;
	}

	.today--highlights {
		display: grid;
		grid-row: 4 / 7;
		grid-column: 2 / 3;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 2em;
		column-gap: 2em;
		margin: 0;
		padding: 0 5rem 0 5rem;
		background-color: var(--main-bg-color);
		border-bottom-right-radius: 1000px;
	}

	.highlights {
		all: initial;
		display: grid;
		grid-template-rows: 0.75fr 1.5fr 0.75fr;
		width: 100%;
		height: 100%;
		background-color: var(--secondary-bg-color);
		border-radius: 10%;
		border-bottom: none;
		font-size: 14px;
		font-family: 'Rubik';
	}

	.highlights .highlight--name {
		grid: 1 / 2;
		margin: auto 0;
		padding-left: 1em;
		font-size: 20px;
		color: var(--third-bg-color);
	}

	.highlights img {
		display: none;
	}

	.highlights .highlight--value {
		display: none;
	}

	/** UV Index */
	.progress {
		display: block;
		position: relative;
		grid-row: 2 / 4;
		margin: auto;
		text-align: center;
		font-size: 50px;
		font-family: 'Rubik';
		overflow: hidden;
	}

	.barOverflow {
		position: relative;
		width: 180px;
		height: 90px; /* Half circle (overflow) */
		margin-bottom: -45px;
		overflow: hidden;
	}

	.bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
		height: 180px; /* full circle! */
		border-radius: 50%;
		box-sizing: border-box;
		border: 25px solid var(--main-bg-color); /* half gray, */
		border-bottom-color: #55df6b;
		border-left-color: #55df6b;
		transform: rotate(-9deg);
	}

	.numbers {
		display: block;
		position: absolute;
	}

	.number-2 {
		position: absolute;
		margin: 3em 0 0 1.25em;
		font-size: 30px;
		font-family: 'Rubik';
		color: var(--third-bg-color);
	}

	.number-5 {
		position: absolute;
		margin: 1.5em 0 0 4.25em;
		font-size: 30px;
		font-family: 'Rubik';
		color: var(--third-bg-color);
	}

	.number-8 {
		position: absolute;
		margin: 3em 0 0 7.5em;
		font-size: 30px;
		font-family: 'Rubik';
		color: var(--third-bg-color);
	}

	.highlight--value__uv__index {
		display: none;
	}

	/** Wind Status */
	.wind--direction {
		display: flex;
		grid-row: 3 / 4;
		align-items: center;
		padding-left: 2em;
		padding-bottom: 1.5em;
	}

	.highlights .wind--direction__img {
		display: grid;
	}

	.wind--direction__text {
		padding-left: 0.5em;
		font-size: 24px;
	}

	.highlight--value__windstatus {
		padding: 0;
		align-self: center;
		justify-self: center;
		font-size: 55px;
	}

	.highlight--value__windstatus sub {
		display: inline;
		font-size: 2.25rem;
	}

	/** Sunrise & Sunset */
	.sunrise__sunset {
		display: grid;
		grid-row: 2 / 4;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr 1fr;
	}

	.sunrise__sunset img {
		display: grid;
		justify-self: end;
	}

	.highlight--sunrise {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		align-self: center;
	}

	.highlight--sunset {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		align-self: flex-start;
	}

	.highlight--value__sunrise {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		padding: 0.75em 0 0 0.5em;
	}

	.highlight--value__sunset {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		padding: 0 0 0 0.5em;
	}

	.sunrise__sunset h2 {
		align-self: flex-start;
		font-size: 24px;
	}

	.highlight--value__sunrise__difference {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		padding: 2.75em 0 0 0.75em;
	}

	.highlight--value__sunset__difference {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		padding: 1.7em 0 0 0.75em;
	}

	.sunrise__sunset h3 {
		align-self: flex-start;
		font-size: 16px;
		color: var(--third-bg-color);
	}

	.highlight--mobile__value__sunrise {
		display: none;
	}

	/** General row 2 */
	.highlights .highlight--value {
		display: block;
		grid-row: 2 / 3;
		padding: 0;
		align-self: center;
		justify-self: flex-start;
		padding-left: 0.5em;
		font-size: 55px;
	}

	.highlight--value sup {
		display: inline;
		font-size: 1.75rem;
	}

	.highlight--value sub {
		display: inline;
		font-size: 2rem;
	}

	.highlight--description {
		font-size: 18px;
		padding-left: 1.75em;
	}

	/** Progress bar humidity */
	.humidity--progress__bar,
	.aqi--progress__bar {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		grid-row: 1 / 4;
		align-self: flex-end;
		justify-self: flex-end;
		margin: 0 2em 2em 0;
		width: 24px;
		height: 130px;
		background-color: var(--secondary-bg-color);
		border-radius: 12.5px;
		border: 1px solid var(--third-bg-color);
	}

	.humidity--progress__bar::before {
		content: '';
		display: flex;
		width: 20px;
		height: calc(var(--height, 0) * 1%);
		min-height: 0;
		margin-bottom: 5px;
		max-height: calc(100% - 10px);
		background-color: var(--main-color);
		border-radius: 1em;
	}

	/** Progress bar air quality index */
	.aqi--progress__bar::before {
		content: '';
		display: flex;
		width: 20px;
		height: 20px;
		min-height: 0;
		margin-bottom: calc(var(--position, 2px));
		max-height: calc(100% - 10px);
		background-color: var(--main-color);
		border-radius: 1em;
	}

	.highlight--description {
		display: block;
	}

	.highlights.hide {
		display: none;
	}

	.highlights:last-child {
		grid-template-columns: auto;
	}

	.mobile--search {
		display: none;
	}

	.mobile--search.active {
		display: none;
	}

	.search.active {
		display: none;
	}

	.search--city {
		display: flex;
		position: relative;
		grid-row: 2/5;
		grid-column: 1/3;
		margin-top: 30px;
		margin-left: 75px;
		justify-content: flex-start;
	}

	.search--city img {
		width: 50px;
		filter: invert(32%) sepia(43%) saturate(2956%) hue-rotate(221deg) brightness(83%) contrast(97%);
		transform: rotate(0deg);
		align-self: flex-start;
		margin-left: 0px;
		position: absolute;
	}

	.search--city h2 {
		color: var(--main-color);
		position: absolute;
		font-family: 'Rubik';
		font-size: 20px;
		font-weight: 400;
		align-self: flex-start;
		margin: 60px 0 0 0;
		left: 0px;
	}

	.search--city h3 {
		color: var(--main-color);
		font-family: 'Rubik';
		font-size: 20px;
		font-weight: 400;
		margin: auto;
	}

	.no--display {
		display: none;
	}

	.today--weather.no--display {
		display: grid;
		background-color: var(--secondary-bg-color);
	}
}

.loader-wrapper.hide {
	display: none;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	grid-row: 1 / 8;
	grid-column: 1/ 4;
	top: 0;
	left: 0;
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid var(--main-color);
	animation: loader 2s infinite ease;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: var(--main-color);
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}
